<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="mem_aop">
  
  <insert id="add" parameterType="maop">
  	insert into member_aop values(MEMBER_AOP_SEQ.nextval, #{id}, #{pwd}, #{name}, sysdate);
  </insert>
  
  <select id="idChk" parameterType="String" resultType="int">
  	select count(*) cnt from member_aop where id=#{id}
  </select>
  <!-- login -->
  <select id="loginchk" parameterType="maop" resultType="maop">
  	select count(*) cnt, name from member_aop where id=#{id} group by name
  </select>
  </mapper>